@media (max-width: 1366px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .container {
    width: 480px;
  }

  .hidden-menu_top {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1111;
    background-color: rgba(255, 193, 0, 0.9);
  }

  .js-top-menu {
    display: block;
  }

  .nav-header {
    display: none;
  }

  .hidden-menu_top ul {
    li {
      a {
        color: #340700;
        font-size: 20px;
      }

      display: block;
      margin: 0 0 15px 0;
    }

    display: block;
    margin: 50px 0 0 0;
    text-align: center;
  }

  .stock {
    width: 100%;
    margin-left: 0;
    height: 215px;
  }
}

@media (max-width: 498px) {
  .container {
    width: 303px;
  }
}
